/* Estilos generales para las secciones */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* Estilos para la imagen de biografía */
.fotoFG {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.dark-mode-switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  background-color: #4d4d4d;
  border-radius: 15px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.dark-mode-icon,
.light-mode-icon {
  font-size: 20px;
  color: #ffffff;
}

.dark-mode-container {
  background-color: #2d2d2d;
  color: #ffffff;
}

.dark-mode-container .card {
  background-color: #1a1a1a;
}

.dark-mode-container .card-body:not(.text-light) {
  color: #000000;
}

.dark-mode-container .navbar-custom .navbar-nav .nav-link,
.dark-mode-container .card-title,
.dark-mode-container .card-text,
.dark-mode-container .text-center {
  color: #ffffff;
}

.dark-mode-container .navbar {
  background-color: #000;
}

.dark-mode-container .navbar-light .navbar-brand {
  color: #fff;
}

.dark-mode-container .navbar-light .navbar-toggler-icon {
  background-color: #fff;
}

.dark-mode-container .navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.dark-mode-card {
  background-color: #333;
  color: #fff;
  /* Agrega cualquier otro estilo específico para modo oscuro aquí */
}

/* Definición de la animación fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Aplicar la animación a un elemento específico, por ejemplo, el mensaje de bienvenida */
.welcome-message {
  animation: fadeIn 1s ease;
}


/* Agrega un estilo básico al botón de regreso */
#btnHome {
  display: none;
}

#btnHome a {
  border-radius: 50%;
  padding: 10px;
  background-color: #0a06ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#btnHome a:hover {
  background-color: #8408e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
}

.social-media a:hover {
  color: #1f242d;
  box-shadow: 0 0 20pxrgb(255, 0, 0);
}

.bx.bxl-facebook:hover {
  color: #1877f2;
  /* Color de Facebook */
}

.bx.bxl-instagram:hover {
  color: #c13584;
  /* Color de Instagram */
}

.bx.bxl-twitter:hover {
  color: #1da1f2;
  /* Color de Twitter */
}

.bx.bxl-whatsapp:hover {
  color: #25d366;
  /* Color de WhatsApp */
}

.bx.bxl-linkedin:hover {
  color: #0077b5;
  /* Color de LinkedIn */
}

.bx.bxl-google:hover {
  color: #db4437;
  /* Color de Google */
}

.bx.bxl-github:hover {
  color: #4078c0;
  /* Color de GitHub */
}

.clients i {
  transition: color 0.3s ease-in-out;
}

.clients .js i:hover {
  color: #F7DF1E;
  /* Color amarillo de JavaScript */
}

.clients .css i:hover {
  color: #1572B6;
  /* Color azul de CSS */
}

.clients .html i:hover {
  color: #E34F26;
  /* Color naranja de HTML */
}

.clients .python i:hover {
  color: #3776AB;
  /* Color azul de Python */
}

.clients .php i:hover {
  color: #777BB4;
  /* Color morado de PHP */
}
.rounded-img {
  border-radius: 50%;
}
